{% extends "base.html" %}
{% block title %}
    <h1>Login</h1>
{% endblock title %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.errors.as_text }}
        </div>
    {% endif %}
    <form id="login" action="{% url 'login' %}" method="post">
        {% csrf_token %}

            {% for campo in form %}  
            <div class="mb-3">   
                {{ campo.label_tag}} <br/> {{ campo }}
            </div>
            {% endfor %}

            

        <button type="submit" class="btn btn-outline-success btn-lg" form="login" value="Enviar"><i class="bi bi-send"></i> Login</button>

        <a class="btn btn-outline-warning btn-lg" role="button" href="{% url 'password_reset' %}"><i class="bi bi-shield-exclamation"> Esqueci minha senha</i></a>
    </form>

{% endblock content %}